# Scraping a single page

For this scraping excercise we'll use 3 libraries : `requests` and `Beautiful Soup` and `pandas`.
- `requests` : opens a website
- `BeautifulSoup` : parses the HTML
- `pandas` : for data analysis and transformation.
Let's import them.

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs

- Go to the [Regulation No 31: laying down the Staff Regulations of Officials and the Conditions of Employment of Other Servants](https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A01962R0031-20230101).
- Find the table that contains the *Daily allowance* and *Hotel costs* for visiting various countries in Europe.
- Let's open the website in our script using `requests` and pass it to `BeautifulSoup`, like this:

```python
r = requests.get(url)
soup = bs(r.text)
```

In [5]:
url = "https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A01962R0031-20230101"
r = requests.get(url)
soup = bs(r.text)

In [15]:
table = soup.find(string="Hotel ceiling").parent.parent.parent.parent

In [46]:
table_data = []

for row in table.find_all("tr")[1:]:

    elements = row.find_all('td')
    data = {}

    data["Destination"] = elements[0].text.strip()
    data["Hotel ceiling"] = elements[1].text.strip()
    data["Daily allowance"] = elements[2].text.strip()

    table_data.append(data)

    #print(data)

In [50]:
pd.DataFrame(table_data).head(1)

  Destination Hotel ceiling Daily allowance
0     Belgium           148             102

In [52]:
pd.DataFrame(table_data).to_csv("table_data.csv")