# Data analysis

**Goal**: Analyse the differences in hotel costs and per diems of employees of the commission

1. Import and explore the data we have scraped in the previous excercise.
2. Clean this data
3. Combine them with the [inflation index from Eurostat](https://ec.europa.eu/eurostat/databrowser/bookmark/f6a583fa-f744-4590-aa95-173aaa6ea3f1?lang=en) (grab the [direct link to the csv](https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/prc_hicp_midx/1.0/M.I05.CP11.*?c[geo]=BE,BG,CZ,DK,DE,EE,IE,EL,ES,FR,HR,IT,CY,LV,LT,LU,HU,MT,NL,AT,PL,PT,RO,SI,SK,FI,SE,IS,NO,CH,UK,ME,MK&compress=false&format=csvdata&formatVersion=2.0&c[TIME_PERIOD]=ge:2004-01+le:2023-10&lang=en&labels=name))
4. Analyse the data

##  1. Import and explore the scraped data

The first step for a data analysis is to have a close look at the data:
- What columns are there?
- How many rows?
- What is in the columns?

Pandas has helpful methods to do this.

```python
df.info() # information on the column names and non-zero values
df.sample(3) # returns 3 sample rows from the data
df.head(3) # returns the first 3 rows of the data
len(df) # returns the number of rows
df.columns # all the column names as a list
```

In [69]:
import pandas as pd

In [70]:
df = pd.read_csv("regulation_data.csv")
df.sample(3)

    Destination Hotel ceiling Daily allowance      Date
63       Greece           112              82  20220101
407  Luxembourg           145              92  20100101
578    Portugal         68,91          124,89  20060101

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Destination      636 non-null    object
 1   Hotel ceiling    636 non-null    object
 2   Daily allowance  636 non-null    object
 3   Date             636 non-null    int64
dtypes: int64(1), object(3)
memory usage: 20.0+ KB

### `df.info()` explained

![](img/info.png)

### Looking closely at the columns

To isolate columns using this syntax and look more closely at those we use the following syntax:

```python
df["column"]
```

This will return a `Series` from a `DataFrame`. It's important to know what data type you are working with, as all of them have their own methods.


```python
# for categorical variables
df["column"].unique() # all the unique values of the column
df["column"].value_counts() # how often does a value occur

# for numeric variables
df.hist(column='column') # makes a histogram
df.describe() # descriptive statistics for all numeric variables
df["column"].describe() # descriptive statistics for a single column
```

In [72]:
df["Destination"].value_counts()

Destination
Belgium            23
Latvia             23
United Kingdom     23
Sweden             23
Finland            23
Slovenia           23
Portugal           23
Poland             23
Austria            23
Netherlands        23
Malta              23
Hungary            23
Lithuania          23
Luxembourg         23
Cyprus             23
Germany            23
Italy              23
Czech Republic     23
France             23
Spain              23
Greece             23
Ireland            23
Denmark            23
Estonia            23
Romania            19
Bulgaria           19
Slovakia           14
Destination        11
Slovak Republic     9
Croatia             9
Destinations        3
Name: count, dtype: int64

This counts the values in the column. Note that we have the words *Destination* and *Destinations* in there. These are remnants of the headers, we don't want them. We also have *Slovakia* and *Slovak Republic* as a value. We need to make them one.

### Filtering the DataFrame

```python
df.query() # filters the DataFrame
```

Please see the documentation

`.query()`

In [73]:
df2 = df.query("~Destination.str.contains('Destinations?')")

* `~` except
* `str.contains()` : pandas [str.contains()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html)
* ('Destinations **?**')

In [74]:
df2["Destination"] = df2["Destination"].replace({"Slovak Republic" : "Slovakia"})

/tmp/ipykernel_452118/4003084761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Destination"] = df2["Destination"].replace({"Slovak Republic" : "Slovakia"})

In [75]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 622 entries, 0 to 635
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Destination      622 non-null    object
 1   Hotel ceiling    622 non-null    object
 2   Daily allowance  622 non-null    object
 3   Date             622 non-null    int64
dtypes: int64(1), object(3)
memory usage: 24.3+ KB

In [76]:
df2["Hotel ceiling"] = pd.to_numeric(df2["Hotel ceiling"].str.replace(",","."))
df2["Daily allowance"] = pd.to_numeric(df2["Daily allowance"].str.replace(",","."))

/tmp/ipykernel_452118/458300061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Hotel ceiling"] = pd.to_numeric(df2["Hotel ceiling"].str.replace(",","."))
/tmp/ipykernel_452118/458300061.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Daily allowance"] = pd.to_numeric(df2["Daily allowance"].str.replace(",","."))

In [77]:
df2.describe()

       Hotel ceiling  Daily allowance          Date
count     622.000000       622.000000  6.220000e+02
mean      130.785225        92.640981  2.013750e+07
std        30.967412        23.799554  5.925305e+04
min        50.000000        52.000000  2.004050e+07
25%       115.000000        74.000000  2.009010e+07
50%       135.000000        92.000000  2.014050e+07
75%       150.000000       102.000000  2.019010e+07
max       209.000000       210.000000  2.023010e+07

In [78]:
df2.groupby("Destination").mean().sort_values("Hotel ceiling", ascending=False)

                Hotel ceiling  Daily allowance          Date
Destination
United Kingdom     176.811739       116.656087  2.013553e+07
Sweden             161.814348       110.665652  2.013553e+07
Netherlands        156.468696       101.968696  2.013553e+07
Romania            153.894737        56.736842  2.015293e+07
Bulgaria           152.894737        57.526316  2.015293e+07
France             151.640870        98.035217  2.013553e+07
Denmark            151.395652       125.226522  2.013553e+07
Ireland            144.513913       110.172174  2.013553e+07
Luxembourg         137.956522        96.293913  2.013553e+07
Belgium            135.833913        99.184348  2.013553e+07
Finland            134.566087       112.345217  2.013553e+07
Cyprus             130.652174        93.260870  2.013553e+07
Italy              130.348696        98.695217  2.013553e+07
Czech Republic     129.826087        86.086957  2.013553e+07
Latvia             125.826087        81.652174  2.013553e+07
Hungary            125.217391        81.000000  2.013553e+07
Austria            123.539565       102.119130  2.013553e+07
Poland             122.565217        88.043478  2.013553e+07
Greece             119.396522        84.299565  2.013553e+07
Spain              118.855217        92.552609  2.013553e+07
Malta              116.826087        92.478261  2.013553e+07
Germany            114.757391        95.090870  2.013553e+07
Lithuania          111.217391        81.695652  2.013553e+07
Croatia            110.000000        75.000000  2.019804e+07
Slovenia           106.217391        80.695652  2.013553e+07
Portugal           105.901304        88.942174  2.013553e+07
Slovakia           105.434783        83.521739  2.013553e+07
Estonia            102.826087        80.913043  2.013553e+07

In [79]:
df2.query("Destination == 'Sweden'")

    Destination  Hotel ceiling  Daily allowance      Date
26       Sweden         187.00           117.00  20230101
54       Sweden         187.00           117.00  20220701
82       Sweden         187.00           117.00  20220101
110      Sweden         187.00           117.00  20210101
138      Sweden         187.00           117.00  20200101
166      Sweden         187.00           117.00  20190101
194      Sweden         187.00           117.00  20180101
222      Sweden         187.00           117.00  20170101
250      Sweden         187.00           117.00  20160910
278      Sweden         160.00            97.00  20160101
306      Sweden         160.00            97.00  20140701
334      Sweden         160.00            97.00  20140501
362      Sweden         160.00            97.00  20140101
390      Sweden         160.00            97.00  20110101
418      Sweden         160.00            97.00  20100101
446      Sweden         160.00            97.00  20090714
474      Sweden         160.00            97.00  20090101
502      Sweden         160.00            97.00  20080501
530      Sweden         160.00            97.00  20070501
556      Sweden         160.00            97.00  20060701
582      Sweden          92.91           141.77  20060101
608      Sweden          92.91           141.77  20050101
634      Sweden          92.91           141.77  20040501

In [81]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 622 entries, 0 to 635
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Destination      622 non-null    object
 1   Hotel ceiling    622 non-null    float64
 2   Daily allowance  622 non-null    float64
 3   Date             622 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 24.3+ KB

In [82]:
df2['Date'] = pd.to_datetime(df2['Date'], format="%Y%m%d")

/tmp/ipykernel_452118/2307183852.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Date'] = pd.to_datetime(df2['Date'], format="%Y%m%d")

In [84]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 622 entries, 0 to 635
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Destination      622 non-null    object
 1   Hotel ceiling    622 non-null    float64
 2   Daily allowance  622 non-null    float64
 3   Date             622 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 24.3+ KB

In [90]:
df_inflation = pd.read_csv("inflation_data.csv")
df_inflation.sample(3).T

,5780,6081,814
STRUCTURE,dataflow,dataflow,dataflow
STRUCTURE_ID,ESTAT:PRC_HICP_MIDX(1.0),ESTAT:PRC_HICP_MIDX(1.0),ESTAT:PRC_HICP_MIDX(1.0)
STRUCTURE_NAME,HICP - monthly data (index),HICP - monthly data (index),HICP - monthly data (index)
freq,M,M,M
Time frequency,Monthly,Monthly,Monthly
unit,I05,I05,I05
Unit of measure,"Index, 2005=100","Index, 2005=100","Index, 2005=100"
coicop,CP11,CP11,CP11
Classification of individual consumption by purpose (COICOP),Restaurants and hotels,Restaurants and hotels,Restaurants and hotels
geo,NO,PL,CH
Geopolitical entity (reporting),Norway,Poland,Switzerland
TIME_PERIOD,2011-07,2016-10,2013-04
Time,NaN,NaN,NaN
OBS_VALUE,123.3,140.1,110.6
Observation value,NaN,NaN,NaN
OBS_FLAG,NaN,NaN,NaN
Observation status (Flag),NaN,NaN,NaN

In [95]:
for column in df_inflation.columns:
    display(df_inflation[column].unique())
#df_inflation["Time frequency"].unique()

array(['dataflow'], dtype=object)

array(['ESTAT:PRC_HICP_MIDX(1.0)'], dtype=object)

array(['HICP - monthly data (index)'], dtype=object)

array(['M'], dtype=object)

array(['Monthly'], dtype=object)

array(['I05'], dtype=object)

array(['Index, 2005=100'], dtype=object)

array(['CP11'], dtype=object)

array(['Restaurants and hotels'], dtype=object)

array(['AT', 'BE', 'BG', 'CH', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES',
       'FI', 'FR', 'HR', 'HU', 'IE', 'IS', 'IT', 'LT', 'LU', 'LV', 'MK',
       'MT', 'NL', 'NO', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'UK'],
      dtype=object)

array(['Austria', 'Belgium', 'Bulgaria', 'Switzerland', 'Cyprus',
       'Czechia', 'Germany', 'Denmark', 'Estonia', 'Greece', 'Spain',
       'Finland', 'France', 'Croatia', 'Hungary', 'Ireland', 'Iceland',
       'Italy', 'Lithuania', 'Luxembourg', 'Latvia', 'North Macedonia',
       'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania',
       'Sweden', 'Slovenia', 'Slovakia', 'United Kingdom'], dtype=object)

array(['2004-01', '2004-02', '2004-03', '2004-04', '2004-05', '2004-06',
       '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12',
       '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06',
       '2005-07', '2005-08', '2005-09', '2005-10', '2005-11', '2005-12',
       '2006-01', '2006-02', '2006-03', '2006-04', '2006-05', '2006-06',
       '2006-07', '2006-08', '2006-09', '2006-10', '2006-11', '2006-12',
       '2007-01', '2007-02', '2007-03', '2007-04', '2007-05', '2007-06',
       '2007-07', '2007-08', '2007-09', '2007-10', '2007-11', '2007-12',
       '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06',
       '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12',
       '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06',
       '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12',
       '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06',
       '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12',
       '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
       '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
       '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
       '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
       '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
       '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
       '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
       '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
       '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
       '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
       '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12',
       '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
       '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12',
       '2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
       '2023-07', '2023-08', '2023-09', '2023-10'], dtype=object)

array([nan])

array([ 96.99,  97.86,  97.64, ..., 151.8 , 150.8 , 146.7 ])

array([nan])

array([nan, 'u', 'd', 'du'], dtype=object)

array([nan, 'low reliability', 'definition differs (see metadata)',
       'definition differs (see metadata), low reliability'], dtype=object)